td.dijitMenuItemIconCell {
    width: 16px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAIAAAC0tAIdAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjEwMPRyoQAAAJBJREFUKFONkjEKg0AURD21t8kN7NKmSBcwhYSQJlZR2BhB3EI0LGwmU9iM8GWX173HNPuz/HBOJ2OKtMdyrYuy3YeDUl8dLDi0ras3LLb1sXL3Hha0sn16fJ4DLGilvtTDy8OCVupb47sJFrRS1900LrCgldqNyxxgQSu1n0OMPwtaqb8h7iN1yqWsP59+g3+NWkJvOi7wvAAAAABJRU5ErkJggg==);
}

tr.dojoxCheckedMultiSelectMenuItemChecked td.dijitMenuItemIconCell {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAIAAAC0tAIdAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjEwMPRyoQAAAM5JREFUKFNjKJt7gHjEAFT6nzgAVAlVXbflOX4ENBBF9aab/w8+BKGbb6EIwgWKAw1CVz359P9Z5/4vuPh/yeX/y66AyJmnf0HcWLHuMbrqvhP/kVHHYahSoLrcJbfwqUZWGth7AYtquIrGvd/ggeTVfjp/9XMsLqne/hEtJCFKgaZg8SVQNdBSNFOBSoGewaIaKAE0CWgeUAPcVIi/saheeOn/rDO/6jc/z15wE0gC2UARCMKiGhKXQA8VrboHJNGiFiUEiUkp0JgnPg0CABclD+QoawMBAAAAAElFTkSuQmCC);
}